.form-container {
    background: white; 
    padding: 2em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 100% !important;

    .form-control {
        margin: .7em 0;
    }
}

.button {
    margin-top: 1.5em;
}

@media  screen and (max-width: 1200px) {
    .form-container {
        width: 100% !important;
    }
}
