.form-container {
    width: 60% !important; 
}

.form {
    padding:1em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;

    .form-control {
        margin: .7em 0;
    }
}

.button {
    margin-top: 1.5em;
}

@media  screen and (max-width: 1200px) {
    .form-container {
        width: 100% !important;
    }
}
