.Footer {
    margin-top: 2em;
    width: 100%;
    color: #333333;
    display: flex;
    align-items: center !important;
    flex-direction: column !important;

    .footer-container {
        width: 750px !important;
        background: rgb(247, 247, 247);
        padding: 3em 5em 3em 5em;
        text-align: center;

    }
    h3 {
        font-weight: 300;

    }
    p {
        font-weight: 300;
        color: #6b6b6b;
    }
}
.brand-footer{
    font-size: 0.8em !important; 
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-top: 3em;
}
.brand-footer img {
    width: 7%;
}