.Concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    h3 { 
        width: 50% !important;
        font-weight: 300;
        margin-bottom:3em;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        justify-content: center;
    }
}

.concept-col {
    width: 280px !important;
    span { 
        text-transform: uppercase;
        opacity: 0.5;
        font-size: .6rem;
        padding-top: 3em;
    }
    h4 { 
        font-weight: 300;
        margin-top: .4em;
        margin-bottom: .5em;
    }
    p { 
        font-size: .8rem;
        opacity: .5;
        line-height: 1.7;
        font-weight: 300;
    }
}

.middle {
    display: flex !important;
    flex-direction: column-reverse !important;
    .concept-col-img  {
        height: 200px;
        width: 250px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: .3em 0;

    }

}

.first {
    display: flex !important;
    flex-direction: column !important;
    .concept-col-img  {
        height: 200px;
        width: 250px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}

.last {
    display: flex !important;
    flex-direction: column !important;
    .concept-col-img  {
        height: 200px;
        width: 250px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}

.concept-daddy {
    width: 280px !important;
    height: 220px !important;
    padding: 0 !important;
}

.concept-col-img-none { display: none; }

@media screen and (max-width: 990px) {
    .row {
        flex-direction: column !important;
    }

    .concept-col {
        display: flex !important;
        flex-direction: row !important;
        width: 100% !important;
        &__text {width: 70%;}

        .concept-col-img {
            width: 100% !important;
            margin: 1em;
        }
    }

    .middle {
        flex-direction: row-reverse !important;
        .concept-col-img { 
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 25px !important;
        }
        
    }

}

@media screen and (max-width: 574px) {

    .Concept > h3 {width: 100% !important}

    .row {align-items: center;}

    .concept-col {
        flex-direction: column !important;

        &__text {width: 100%;}
        .concept-col-img { margin: 0; }
    }
    .middle {
        flex-direction: column !important;
    }
}